
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: clustermanagers.cluster.tmax.io
spec:
  additionalPrinterColumns:
  - JSONPath: .spec.provider
    description: provider
    name: Provider
    type: string
  - JSONPath: .spec.version
    description: k8s version
    name: Version
    type: string
  - JSONPath: .status.ready
    description: is running
    name: Ready
    type: string
  - JSONPath: .spec.masterNum
    description: replica number of master
    name: MasterNum
    type: string
  - JSONPath: .status.masterRun
    description: running of master
    name: MasterRun
    type: string
  - JSONPath: .spec.workerNum
    description: replica number of worker
    name: WorkerNum
    type: string
  - JSONPath: .status.workerRun
    description: running of worker
    name: WorkerRun
    type: string
  - JSONPath: .status.phase
    description: cluster status phase
    name: Phase
    type: string
  group: cluster.tmax.io
  names:
    kind: ClusterManager
    listKind: ClusterManagerList
    plural: clustermanagers
    shortNames:
    - clm
    singular: clustermanager
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: ClusterManager is the Schema for the clustermanagers API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        awsSpec:
          description: ProviderAwsSpec defines
          properties:
            masterType:
              description: The type of VM for master node
              type: string
            region:
              description: The region where VM is working
              type: string
            sshKey:
              description: The ssh key info to access VM
              type: string
            workerType:
              description: The type of VM for worker node
              type: string
          type: object
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: ClusterManagerSpec defines the desired state of ClusterManager
          properties:
            masterNum:
              description: The number of master node
              type: integer
            provider:
              description: The name of cloud provider where VM is created
              type: string
            version:
              description: The version of kubernetes
              type: string
            workerNum:
              description: The number of worker node
              type: integer
          type: object
        status:
          description: ClusterManagerStatus defines the observed state of ClusterManager
          properties:
            agentEndpoint:
              type: string
            agentReady:
              type: boolean
            controlPlaneEndpoint:
              type: string
            controlPlaneReady:
              type: boolean
            masterRun:
              type: integer
            nodeInfo:
              items:
                description: NodeSystemInfo is a set of ids/uuids to uniquely identify
                  the node.
                properties:
                  architecture:
                    description: The Architecture reported by the node
                    type: string
                  bootID:
                    description: Boot ID reported by the node.
                    type: string
                  containerRuntimeVersion:
                    description: ContainerRuntime Version reported by the node through
                      runtime remote API (e.g. docker://1.5.0).
                    type: string
                  kernelVersion:
                    description: Kernel Version reported by the node from 'uname -r'
                      (e.g. 3.16.0-0.bpo.4-amd64).
                    type: string
                  kubeProxyVersion:
                    description: KubeProxy Version reported by the node.
                    type: string
                  kubeletVersion:
                    description: Kubelet Version reported by the node.
                    type: string
                  machineID:
                    description: 'MachineID reported by the node. For unique machine
                      identification in the cluster this field is preferred. Learn
                      more from man(5) machine-id: http://man7.org/linux/man-pages/man5/machine-id.5.html'
                    type: string
                  operatingSystem:
                    description: The Operating System reported by the node
                    type: string
                  osImage:
                    description: OS Image reported by the node from /etc/os-release
                      (e.g. Debian GNU/Linux 7 (wheezy)).
                    type: string
                  systemUUID:
                    description: SystemUUID reported by the node. For unique machine
                      identification MachineID is preferred. This field is specific
                      to Red Hat hosts https://access.redhat.com/documentation/en-US/Red_Hat_Subscription_Management/1/html/RHSM/getting-system-uuid.html
                    type: string
                required:
                - architecture
                - bootID
                - containerRuntimeVersion
                - kernelVersion
                - kubeProxyVersion
                - kubeletVersion
                - machineID
                - operatingSystem
                - osImage
                - systemUUID
                type: object
              type: array
            phase:
              type: string
            provider:
              type: string
            ready:
              type: boolean
            version:
              type: string
            workerRun:
              type: integer
          type: object
        vsphereSpec:
          description: ProviderVsphereSpec defines
          properties:
            podCidr:
              description: The internal IP address cider block for pods
              type: string
            vcenterDataCenter:
              description: The name of data center
              type: string
            vcenterDataStore:
              description: The name of data store
              type: string
            vcenterFolder:
              description: The name of folder
              type: string
            vcenterId:
              description: The user id of VCSA
              type: string
            vcenterIp:
              description: The IP address of vCenter Server Application(VCSA)
              type: string
            vcenterKcpIp:
              description: The IP address of control plane for remote cluster(vip)
              type: string
            vcenterNetwork:
              description: The name of network
              type: string
            vcenterPwd:
              description: The password of VCSA
              type: string
            vcenterResourcePool:
              description: The name of resource pool
              type: string
            vcenterThumbprint:
              description: The TLS thumbprint of machine certificate
              type: string
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
